<div class="modal-header green-bg with-button">
    <div class="pull-right">
        <button class="btn btn-clear" ng-click="refreshTimeline();$dismiss();">
            <i class="ln-cross"></i>
        </button>
    </div>
    <h5 class="modal-title">All Photos</h5>
</div>
<div class="modal-body">
    <form name="photosForm" ng-submit="saveCompany(formData)">
        <div class="form-group">
            <!--<label>Upload Photos</label>-->
            <!--<upload-image ng-model="photo.file" ng-callback="onPhotoUploadCallback(photo)" no-view></upload-image>-->
            <upload-image-new ng-model="img" ng-if="assignment.dateOfLoss && assignment.timelineStatus !== 'Force Closed'" ng-callback="onPhotoUploadCallback(img,length)" multiple no-view></upload-image-new>
        </div>
    </form>
    <div class="field">
        <div class="custom-tabs">
            <div>
                 <div class="row">
                    <div class="col-md-6">
                        <span class="space-left">Photos </span><span class="color-green">({{assignment.photos.length}})</span>
                        <span class="space-left">
                <a tooltip-placement="top" uib-tooltip="Download Zip of All Photos" class="btn btn-primary temp-btnbg" ng-if="assignment.photos.length > 0" ng-click="generateZip('photos');">
                                            <i class="ln-file-zip font-size22"></i>
                </a>
                <a tooltip-placement="top" uib-tooltip="Delete Photos" class="btn btn-primary temp-btnbg" ng-click="deleteSelectedData('photos');">
                                            <i class="ln-trash2 font-size22"></i>
                </a>
                </span>
                         <div class="checkbox checkbox-primary float-left">
                                                <input id="checkboxAll" type="checkbox" ng-model="selectAll" ng-click="selectAllData('photos',selectAll)">
                                                <label for="checkboxAll">Select All</label></a>
                                            </div>
                    </div>
                </div>
                <div class="file-selector">
                    <!-- <div class="text-center" ng-if="file.files.length==0">No files found.</div> -->
                    <div class="scroll-x-max">
                        <div class="row">
                            <div class="col-md-3 mter" ng-repeat="photo in assignment.photos track by $index">
                                <div class="photosbx">
                                    <a fancybox-box rel="gallery1" style="opacity:1;" href="{{photo.file|uploadpath}}">
                                        <img ng-src="{{photo.file|uploadpath}}" alt="" class="img-responsive">
                                    </a>
                                    <p>{{photo.fileName | date:'ddMMMyy, hh:mm'}}</p>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="checkbox checkbox-primary">
                                                <input id="{{ 'checkbox'+ $index }}" type="checkbox" ng-click="addDataToDelete('photos',$index,photo.file)" ng-checked="selectAll">
                                                <label for="{{ 'checkbox'+ $index }}"> </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 top-padding-left">
                                            <a tooltip-placement="top" uib-tooltip="Download Photoy" class="btn btn-primary temp-btnbg" download="{{photo.file}}" ng-href="{{photo.file|downloadImage}}">
                                                <i class="ln-download font-size18"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-4 top-padding">
                                            <a tooltip-placement="top" uib-tooltip="Remove Photo" class="btn btn-primary temp-btnbg" ng-click="removeElement('photos',$index)">
                                                <i class="ln-trash2 font-size18"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>